// colors
$accentColor: #3eaf7c;
$textColor: #2c3e50;
$borderColor: #eaecef;
$codeBgColor: #282c34;
$codeTextColor: #e96900;
$arrowBgColor: #ccc;

// Style Colors
$StyleRed: #F92672;
$StyleGreen: green;
$StyleBlue: #2973b7;


// Containers
$isInfo: #2973b7;
$isTip: rgb(23, 201, 100);
$isDanger: rgb(242, 19, 93);
$isWarning: #E7C000;


// layout
$navbarHeight: 3.6rem;
$sidebarWidth: 20rem;
$contentWidth: 740px;

// responsive breakpoints
$MQNarrow: 959px;
$MQMobile: 719px;
$MQMobileNarrow: 419px;


